/* General tags and classes */
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.uploadThings {
  position: relative;
  /* display: flex; */
  flex-direction: column;
  color: white;
  width: 100%;
  input {
    width: fit-content;
  }
  p {
    position: absolute;
    text-align: center;
    width: 90%;
    background-color: black;
    color: greenyellow;
    font-size: x-large;
  }
}
h1,
h2 {
  text-align: center;
}
button,
.icon {
  cursor: pointer;
}
.prebtn {
  font-size: x-large;
}
li {
  list-style: none;
}
img {
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: inherit;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  text-align: center;
}
.outlet {
  animation: fadeItems 1s ease-in alternate forwards;
}
/*Home page start*/
.loarder {
  margin: 1rem;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border-top: 4px solid violet;
  border-left: 4px solid indigo;
  border-bottom: 4px solid blue;
  border-right: 4px solid green;
  border-radius: 50%;
  animation: rotate 0.5s linear 0s infinite normal none;
}

#loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to right, violet, indigo, blue, green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    font-weight: bold;
  }
}
.navbar {
  display: block;
  /* position: sticky; */
  width: 100%;
  background-color: gray;
  border-radius: 0 0 1rem 1rem;
  z-index: 1;
  li {
    color: black;
    font-weight: bolder;
  }
}
.bar {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  margin: 0;
  padding: 0;
  color: black;
}

.logo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  p {
    margin: 0;
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
    text-align: center;
    overflow-x: auto;
  }
}
.leftlist {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow-x: auto;
  li {
    margin: 0 0.5rem;
    list-style-type: none;
  }
}
.leftlist::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.rightlist {
  display: flex;
  justify-content: end;
  .profile {
    margin: 0.5rem;
    align-self: center;
    background-color: black;
    color: white;
    font-size: small;
    padding: 0.3rem;
    border-radius: 50%;
  }
  .profile:hover {
    color: red;
  }
}
.homebar {
  align-items: center;
  li {
    margin: 0 1.5rem;
  }
}
.profileList {
  position: absolute;
  display: flex;
  flex-direction: column;
  animation: listFade 0.5s ease-in-out alternate forwards;
}

.homelogo {
  display: grid;
  place-items: center;
  gap: 1rem;
  p {
    justify-self: left;
  }
}
.logo img,
.homelogo img {
  min-width: 10px;
  max-width: 30px;
  min-height: 10px;
  max-height: 30px;
  justify-self: right;
}

#category {
  display: block;
}
.categorylist {
  display: flex;
  position: absolute;
  flex-direction: column;
  background-color: rgb(29, 27, 27, 0.8);
  border: 0.2rem solid blu;
  border-radius: 3rem 0 3rem 0;
  box-shadow: 0.1rem 0.1rem 3rem red inset;
  z-index: 1;
  div {
    margin: 1rem 5rem;
    p {
      margin: 0;
    }
  }
}
/* Hide scrollbar for Chrome, Safari and Opera */
.categorylist::-webkit-scrollbar {
  display: none;
}

.indoor {
  margin-top: 2rem;
  text-align: center;
  font-size: larger;
  color: white;
}
.outdoor {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: larger;
  color: white;
}
.indoor ul,
.outdoor ul {
  margin: 0;
  padding: 0;
}
.indoor li {
  list-style: none;
  margin: 0;
  text-align: center;
  color: white;
  font-size: smaller;
}
.outdoor li {
  list-style: none;
  margin: 0;
  text-align: center;
  color: white;
  font-size: smaller;
}

.profile {
  color: white;
  font-size: larger;
}
#profileToogle {
  color: blue;
}
#profileToogle:hover {
  color: red;
}
.profileList {
  position: absolute;
  border-bottom: 0.5rem solid black;
  background-color: gray;
  padding: 2rem;
  border-radius: 0rem 0 5rem 5rem;
  animation: listFade 0.5s ease-in-out alternate forwards;
  z-index: 2;
  ol {
    padding: 0;
  }
  li {
    margin: 1rem 0;
    text-align: center;
  }
}

.bg {
  display: flex;
  position: relative;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}
.background {
  display: block;
  position: fixed;
  max-width: 100vw;
  min-height: 100vh;
  top: 0;
  z-index: -1;
}
.header {
  display: flex;
  max-width: 100vw;
  max-height: 100vh;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: calc(3vw + 20px);
  word-wrap: break-word;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 5px 5px 10px red;
  animation: fadeItems 1s ease-in-out alternate forwards;
}

.querydiv {
  display: flex;
  max-width: 100vw;
  justify-content: center;
  align-items: center;
}
.queryForm {
  width: 50%;
  border: 5px solid red;
  background-color: gray;
  opacity: 0.85;
  box-shadow: 0rem 0rem 5rem green inset;
  border-radius: 1rem;
  padding: 1rem;
}
.queryForm label {
  display: block;
  margin: 0;
  margin: auto;
  padding: 0.5rem;
  font-size: larger;
  font-weight: bolder;
}
.queryForm input {
  text-align: center;
  padding: 0.8rem;
  border-radius: 20px;
  min-width: 70%;
  max-width: 100%;
  font-weight: bolder;
}
.qname,
.qemailid,
.qquery {
  padding: 0.5rem;
}
.querybtn {
  padding: 0.5rem;
  border: 0.2em solid red;
  border-radius: 20px;
}
.querybtn:hover {
  box-shadow: 0px 0px 20px green;
}

.footer {
  position: fixed;
  background-color: gray;
  width: 100%;
  bottom: 0px;
  font-weight: bolder;
}
.footer p {
  margin: 0;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
}
/*Home page End*/

/*Sign In page start*/
.signinform {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  max-height: 100%;
  background-image: url(./images/signinwall.jpg);
  background-size: cover;
}

.signin {
  width: 100%;
  text-align: center;
  img {
    width: calc(3rem + 5vw);
    color: red;
  }
  h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: white;
    text-shadow: 2px 2px 0px blue;
  }
  input {
    min-width: 50%;
    max-width: 100%;
    text-align: center;
    padding: 1rem 0.5rem;
    margin: 0.5rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
  }
  ::placeholder {
    color: white;
  }
  input:focus {
    border-style: dotted;
    border: 0.2rem solid rgb(255, 255, 255);
  }
  button {
    padding: 0.8rem 1.8rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: black;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-shadow: 0rem 0rem 1rem white inset;
  }
  p {
    color: white;
  }
  button:focus {
    box-shadow: 0rem 0rem 1rem green inset;
  }

  #signbtn {
    color: blue;
    text-decoration: none;
    font-weight: bold;
  }
}
.hiddendiv {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 0.95;
  color: white;
  h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-image: linear-gradient(to right, violet, indigo, blue, green);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    font-weight: bold;
  }
}
/*Sign In page end*/

/*Sign Up page start*/
#none {
  display: none;
}
.signupform {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  max-height: 100%;
  background-image: url(./images/signinwall.jpg);
  background-size: cover;
}
.signup {
  display: block;
  width: 75%;

  h1 {
    text-align: center;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-shadow: 2px 2px 0px blue;
  }
}
.signupbtn {
  text-align: center;
  margin-top: 1rem;
}
.signupbtn button {
  padding: 0.8rem 1.8rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  background-color: black;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: 0rem 0rem 1rem rgb(255, 255, 255) inset;
}
.signupbtn button:focus {
  box-shadow: 0rem 0rem 1rem green inset;
}

.signupinput {
  display: grid;
  grid-template-columns: 50% 50%;
  flex-wrap: wrap;
  div {
    margin: 1rem;
  }
  input,
  select,
  button {
    width: 100%;
    text-align: center;
    margin: 0.5rem;
    height: 3rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
  }

  button {
    box-shadow: 0rem 0rem 1rem rgb(255, 255, 255) inset;
  }
  button:focus {
    border: 0.2rem solid green;
    box-shadow: 0rem 0rem 2rem green inset;
  }
  ::placeholder {
    color: white;
  }
  :focus {
    border: 0.2rem solid rgb(255, 255, 255);
  }
  ol {
    display: inline-block;
    color: red;
    margin: 0;
    margin: auto;
  }
  li {
    font-weight: bold;
    text-align: left;
  }
}

.partition {
  display: flex;
  position: relative;
  justify-content: center;
  div {
    position: relative;
    width: 50vmax;
    display: grid;
    grid-template-columns: 50% 50%;
    border: 0.1em solid red;
    border-radius: 1em;
    strong:nth-child(1) {
      color: white;
      padding: 0.8em;
      text-shadow: 1px 1px 1px red;
      border-radius: 1em 0em 0em 1em;
      box-shadow: 0rem 0rem 1rem red inset;
    }

    strong:nth-child(2) {
      color: white;
      padding: 0.8em;
      text-shadow: 1px 1px 1px blue;
      border-radius: 0em 1em 1em 0em;
      box-shadow: 0rem 0rem 1rem blue inset;
    }
  }
}

.signupinput div:nth-child(1) {
  display: grid;
  grid-template-columns: calc(95% / 3) calc(95% / 3) calc(95% / 3);
  justify-content: space-between;
}
.signupinput div:nth-child(2) {
  display: grid;
  grid-template-columns: calc(95% / 2) calc(95% / 2);
  justify-content: space-between;
  justify-items: stretch;
  input[type="date"]::-webkit-calendar-picker-indicator {
    padding-right: 1rem;
    filter: invert(1) brightness(100%) sepia(100%) saturate(10000%)
      hue-rotate(180deg);
  }
  select {
    margin: 0.8rem;
    margin-left: 1rem;
  }
}
.signupinput div:nth-child(3) {
  display: grid;
  grid-template-columns: 70% 25%;
  justify-items: stretch;

  button {
    margin: 0.8rem;
    margin-left: 1.5rem;
  }
}

.signup {
  justify-content: center;
  align-items: center;
  text-align: center;
  p {
    color: rgb(255, 255, 255);
  }
  img {
    width: calc(3rem + 5vw);
    color: red;
  }
}
#signinlink {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

/*Sign Up page end*/

/*forgpt passsword page start*/
.forgotpwd {
  flex-direction: column;
  height: calc(100vh - 4rem);
  background-color: red;
  margin: 0px;
  padding: 2rem;
  align-content: space-around;
  text-align: center;
  background-image: url(./images/signinwall.jpg);
  background-size: cover;
  img {
    width: calc(3rem + 5vw);
  }
  input {
    width: 30%;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    background-color: black;
    color: white;
    text-align: center;
  }
  input::placeholder {
    color: white;
  }
  button {
    padding: 0.8rem 1rem;
    margin: 0.5rem;
    border-radius: 0.8rem;
    font-weight: bold;
    background-color: black;
    color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-shadow: 0rem 0rem 1rem white inset;
  }
  button:focus {
    border: 0.2rem solid green;
    box-shadow: 0rem 0rem 1rem green inset;
  }
  p {
    color: white;
  }
}
.forgotpwdsignin,
#frgpwd {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
/*forgpt passsword page end*/

/*Change password start*/
#changepassword {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  max-height: 100%;
  background-image: url(./images/signinwall.jpg);
  background-size: cover;
}
#button {
  padding: 1rem;
  border: 0.2rem solid black;
  border-radius: 1rem;
  font-weight: bold;
}

#button:focus {
  box-shadow: 0rem 0rem 1rem green inset;
}

#form {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
  padding: 10rem 0rem;
  border: 1px solid red;
  border-radius: 2rem;
  box-shadow: 0rem 0rem 1.5rem red, 0rem 0rem 5rem rgb(255, 255, 255) inset;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
}

#passwordfield {
  width: 50%;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  background-color: black;
  border: 0.2rem solid white;
}
#passwordfield:focus {
  border: 0.2rem solid yellow;
}
#passwordfield::placeholder {
  color: white;
}

#errorlist {
  color: red;
  list-style: none;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: larger;
}

#cnfpasswordfield {
  width: 50%;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  color: white;
  margin-bottom: 2rem;
  background-color: black;
  border: 0.2rem solid white;
}
#cnfpasswordfield:focus {
  border: 0.2rem solid yellow;
}
#cnfpasswordfield::placeholder {
  color: white;
}
/*Change password end*/

/* User Section */
.listallservice {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: white;
  header {
    width: 100%;
    background-color: black;
    position: sticky;
    top: 0;
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    border-radius: 0 0 1rem 1rem;
    z-index: 1;
  }
  .innerDiv {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    section {
      display: flex;
      justify-content: center;
      box-sizing: border-box;
      width: 8rem;
      height: 10rem;
      flex-grow: 1;
      margin: 0.5rem;
      transition: all 1s ease-in-out;

      div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 0.2rem solid white;
        background-color: black;
        color: white;
        border-radius: 10px;
        box-sizing: border-box;
        box-shadow: 0.1rem 0.1rem 2rem red inset;
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        strong {
          width: 100%;
          background-color: black;
          position: sticky;
          top: 0;
          color: aqua;
          text-align: center;
          font-size: 1rem;
          word-wrap: break-word;
        }

        p {
          margin: 0;
          min-height: 2rem;
          overflow: hidden;
          font-size: small;
          text-align: center;
          word-wrap: break-word;
        }
        img {
          width: 90%;
          height: 100%;
        }
        button {
          margin: 1rem 0rem;
          padding: 0.5rem 1rem;
          background-color: black;
          color: white;
          font-weight: bolder;
          border: 0.2rem solid aqua;
          border-radius: 2rem;
          box-shadow: 0.1rem 0.1rem 1rem aqua inset;
        }
        button:hover {
          border: 0.2rem solid green;
          box-shadow: 0.1rem 0.1rem 1rem green inset;
        }
      }
      div::-webkit-scrollbar {
        width: 0;
        height: 0;
      }
      div:hover {
        box-shadow: 0.1rem 0.1rem 2rem blue inset;
        p {
          min-height: auto;
          overflow: visible;
        }
      }
      animation: fadeItems ease-in-out 1s forwards;
    }
    section:hover {
      width: 50%;
      height: 60vh;
    }
  }
}
#serviceInfo {
  margin: 0;
  padding: 0.5rem;
}
.productList {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 0.1rem solid red;
  box-shadow: 0rem 0rem 1rem blue inset;
  justify-content: center;
  align-items: center;
  background: gray;
}
.productList::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.productDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  div {
    width: 20rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    overflow: auto;
    flex-grow: 1;
    h3 {
      font-size: larger;
      font-weight: bolder;
      flex-grow: 1;
    }
    img {
      pointer-events: none;
      max-width: 90%;
      max-height: 15rem;
      flex-grow: 1;
    }
    section {
      display: grid;
      display: inline-flex;
      grid-template-columns: 48% 4% 48%;
      align-items: center;
      flex-grow: 1;
      label {
        margin: 0;
        padding: 0.2rem;
        text-align: right;
        font-weight: 500;
      }
      p {
        margin: 0;
        padding: 0.2rem;
        text-align: left;
      }
    }
    div {
      display: flex;
      flex-direction: row;
      background-color: transparent;
      justify-self: center;
      justify-content: center;
      align-items: center;
      padding: 1rem 0;
      button {
        text-align: center;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-right: 0.5rem;
        box-shadow: 0rem 0rem 0.5rem red inset;
        font-weight: bolder;
      }
      input {
        max-width: 2rem;
        padding: 0.5rem;
        margin-right: 0.5rem;
        box-shadow: 0rem 0rem 0.5rem red inset;
      }
    }
  }
}
.productDiv::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.atcbn {
  display: flex;
}
.wish {
  font-size: x-large;
  color: white;
}

.Contain {
  display: block;
  align-items: center;
  justify-content: center;
}
.searchboxdiv {
  display: flex;
  padding: 1rem 0;
  margin: 0.5rem 0;
  align-items: center;

  input {
    min-width: 50%;
    text-align: center;
    color: black;
    font-weight: bold;
    padding: 0.8rem;
    border-radius: 0.5rem;
    border: 0.152rem solid red;
    margin-left: auto;
    margin-right: auto;
  }
  input:focus {
    border: 0.152rem solid blue;
    outline: none;
  }
  input::placeholder {
    font-size: larger;
  }
}
.atcpop {
  display: flex;
  justify-self: end;
  align-self: flex-end;
  position: sticky;
  background-color: rgb(36, 173, 36);
  color: black;
  font-weight: 900;
  font-size: larger;
  bottom: 0;
  padding: 1rem;
  border-radius: 0rem 2rem;
}
.maincartdiv {
  display: flex;
  flex-direction: column;
  #yourorder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: sticky;
    background-color: black;
    color: white;
    text-align: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-shadow: 0.1rem 0.1rem 0.1rem red;
  }
}
.cartitem {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  background-color: white;
  color: black;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(230, 90, 230, 0.4),
    rgba(13, 255, 0, 0.4)
  );
  border-radius: 0.4rem;
  place-items: center;
  margin: 0.5rem;
  img {
    max-width: 15vw;
    max-height: 15vw;
  }
}
.itemdetails {
  text-align: center;
  padding: 0.5rem;
  label {
    font-weight: bold;
    margin-right: 0.5rem;
    padding: 0.5rem;
  }
  input[type="number"] {
    min-width: 1rem;
    max-width: 2rem;
    padding: 0.5rem;
    border: 0.1rem solid red;
  }
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.removeUpdate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  path {
    color: rgb(255, 0, 0);
    font-size: x-large;
  }
  button {
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0rem 0rem 0.3rem red inset;
    font-weight: bold;
  }
}
.update {
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  box-shadow: 0.1rem 0.1rem 0.8rem red inset;
}
.checkout {
  padding: 0.8rem;
  border-radius: 0.5rem;
  font-weight: bold;
  box-shadow: 0.1rem 0.1rem 0.8rem red inset;
}
.total {
  display: flex;
  position: sticky;
  background-color: black;
  bottom: 0;
  right: 0;
  left: 0;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0.5rem;
  strong {
    color: red;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: x-large;
    font-weight: bolder;
    margin-right: 0.5rem;
  }
  p {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: x-large;
  }
}
.continueShopping {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: white;
}
.addcircle {
  color: white;
  font-size: 5rem;
}
.addcircle :hover {
  color: blue;
}
.paymentSuccess {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.2rem solid white;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
    box-shadow: 0rem 0rem 2rem green inset;
    h1 {
      color: green;
    }
  }
}
.order {
  display: flex;
  width: 75%;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  color: rgb(217, 12, 12);
}
.orderItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 0.8rem;
}
.orderBar {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow: auto;
  font-size: medium;
  text-align: center;
  background: gray;
  align-items: center;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
  p {
    color: blue;
    margin: 0;
  }
  div {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }
  div:last-child {
    margin-left: auto;
  }
}
.orderBar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.orderBarItem {
  margin: 0.5rem;
}
.otherdetails {
  padding: 0.8rem;
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    rgba(230, 90, 230, 0.5),
    rgba(13, 255, 0, 0.5)
  );
}

.filter {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: rgb(56, 52, 52);
  border-radius: 0 0 0.8rem 0.8rem;
  align-items: center;
  strong {
    color: black;
    padding: 0.5rem;
  }
  button {
    margin: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 0 0.3rem blue inset;
  }
  button:hover {
    box-shadow: 0 0 0.3rem rgb(255, 0, 149) inset;
  }
}
.orderLS {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  flex-grow: 1;
  h1 {
    font-size: x-large;
    margin: 0;
  }
}
.orderRS {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  button {
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.3rem blue inset;
  }
}
.imgArray {
  display: flex;
  flex-direction: row;
  max-width: 25vw;
  overflow: scroll;
  img {
    width: 5rem;
    height: 5rem;
    padding: 0.5rem;
    border-right: 0.1rem solid black;
  }
}
.imgArray::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.signout {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.notavailable {
  display: flex;
  height: 90vh;
  flex-direction: column;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  h1 {
    color: red;
  }
  p {
    color: red;
  }
}

/* Seller Section */
.SellerproductDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  box-sizing: border-box;
  .SproductList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    .Sproduct {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-grow: 1;
      width: 15rem;
      border: 0.1rem solid red;
      border-radius: 1rem;
      box-shadow: 0.1rem 0.1rem 1rem red inset;
      padding: 1rem;
      box-sizing: border-box;
      animation: fadeItems 1s ease-in-out forwards;

      h3 {
        text-align: center;
        word-wrap: break-word;
        flex-grow: 1;
      }
      .Simage {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        .images {
          position: relative;
          display: flex;
          flex-direction: row;
          align-items: center;
          max-width: 150px;
          overflow: auto;
          box-sizing: border-box;
          flex-grow: 1;
          img {
            position: relative;
            width: 150px;
            height: 150px;
            border-right: 0.05rem solid white;
            border-radius: 1rem;
          }
        }
        .rightdiv {
          display: flex;
          position: absolute;
          background-color: rgba(73, 69, 69, 0.5);
          height: 100%;
          justify-content: center;
          align-items: center;
          right: 0;
        }
        .leftdiv {
          display: flex;
          position: absolute;
          background-color: rgba(73, 69, 69, 0.5);
          height: 100%;
          justify-content: center;
          align-items: center;
          left: 0;
        }
        .right,
        .left {
          color: blue;
          font-size: x-large;
          font-weight: bolder;
        }
      }
      .info {
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        box-sizing: border-box;
        section {
          display: grid;
          grid-template-columns: 1fr min-content 1fr;
          column-gap: 1rem;
          label {
            margin: 0;
            text-align: right;
          }
          strong {
            margin: 0;
          }
          p {
            margin: 0;
            text-align: left;
            word-wrap: break-word;
          }
        }
      }
    }
  }
  .images::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .stockbtn {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    box-sizing: border-box;
    .additemdiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      box-sizing: border-box;
      .additem {
        align-items: center;
        color: white;
        font-size: 3rem;
        :hover {
          color: greenyellow;
        }
      }
    }
    button {
      background-color: transparent;
      font-size: larger;
      font-weight: bolder;
      border-radius: 1rem;
      color: white;
      padding: 1rem;
      box-shadow: 0.1rem 0.1rem 0.5rem red inset;
    }
    button:hover {
      box-shadow: 0.1rem 0.1rem 0.5rem blue inset;
    }
  }
  .addstock {
    color: white;
    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100vw;
      .form {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
        padding: 2rem 2rem 1rem 2rem;
        border: 0.1rem solid red;
        border-radius: 1rem;
        box-shadow: 0.1rem 0.1rem 1rem red inset;
        .cross {
          display: flex;
          color: red;
          padding: 0 0 1rem 0;
          align-self: flex-end;
        }
        div.details {
          position: relative;
          display: grid;
          column-gap: 1rem;
          row-gap: 1rem;

          grid-template-columns: 1fr min-content 1fr;

          label {
            align-self: center;
            text-align: right;
            font-weight: bold;
          }
          strong {
            align-self: center;
            text-align: center;
            white-space: nowrap;
          }
          input,
          p {
            margin: 0;
            align-self: center;
            text-align: left;
            word-wrap: break-word;
          }
          input {
            width: 100%;
            padding: 0.5rem 0;
            background-color: transparent;
            border: 0.1rem solid white;
            border-radius: 1rem;
            text-align: center;
            color: white;
            font-weight: bold;
            box-sizing: border-box;
          }
          input:focus {
            border: 0.2rem solid yellow;
          }
        }

        h4 {
          color: rgb(95, 100, 104);
        }
        button {
          padding: 0.5rem 1rem;
          border-radius: 1rem;
          background-color: transparent;
          color: white;
          font-weight: bolder;
          margin: 1rem 0;
          border: 0.1rem solid yellow;
          box-shadow: 0.1rem 0.1rem 0.3rem yellow inset;
        }
        button:focus {
          box-shadow: 0.1rem 0.1rem 0.3rem green inset;
        }
      }
    }
    animation: fadeItems 1s ease-in-out forwards;
  }
}
.registershop {
  color: white;
  form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      min-width: fit-content;
      padding: 3rem 3rem 2rem 3rem;
      border: 0.1rem solid red;
      border-radius: 1rem;
      box-shadow: 0.1rem 0.1rem 1rem red inset;
      div {
        width: fit-content;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 30% 2% 68%;
        label {
          align-self: center;
          text-align: right;
          padding: 0.5rem;
          font-weight: bold;
        }
        strong {
          text-align: center;
          align-self: center;
        }
        input,
        p {
          margin: 0;
          align-self: center;
          text-align: left;
          padding: 1rem;
          word-wrap: break-word;
        }
        input {
          margin: 0.5rem;
          background-color: transparent;
          border: 0.1rem solid white;
          border-radius: 1rem;
          text-align: center;
          color: white;
          font-weight: bold;
        }
        input:focus {
          border: 0.2rem solid yellow;
        }
      }
      h4 {
        color: rgb(95, 100, 104);
      }
      button {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        background-color: transparent;
        color: white;
        font-weight: bolder;
        margin: 1rem 0;
        border: 0.1rem solid yellow;
        box-shadow: 0.1rem 0.1rem 0.3rem yellow inset;
      }
      button:focus {
        box-shadow: 0.1rem 0.1rem 0.3rem green inset;
      }
    }
  }
}
.updateStock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  h1 {
    .home {
      padding: 0 1rem;
      align-self: center;
      color: gray;
    }
  }
  .table {
    overflow: auto;
    table {
      border-collapse: collapse;
      overflow: auto;
      border: 0.1rem solid white;
      tr {
        th,
        td {
          position: relative;
          padding: 8px;
          border-left: 0.1rem solid white;
          border-right: 0.1rem solid white;
          text-align: center;
          word-wrap: break-word;
          img {
            width: 2rem;
            padding: 0.5rem;
          }
          img:hover {
            position: relative;
            width: 30rem;
          }
          input {
            background-color: transparent;
            color: white;
            text-align: center;
            border: none;
          }
        }
        th {
          background-color: gray;
        }
      }
    }
    .navigate {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0;
      background-color: gray;
      p {
        margin: 0;
        color: white;
        font-size: small;
        font-weight: bolder;
        padding: 0 1rem;
      }
    }
  }
  .table::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .updateItem {
    padding: 1rem;
    color: white;
    font-size: medium;
    font-weight: bolder;
    background-color: transparent;
    box-shadow: 0.1rem 0.1rem 1rem gray inset;
    border: 0.2rem solid gray;
    border-radius: 1rem;
    margin-top: 2rem;
  }
  .Sheader {
    width: 100%;
    background-color: gray;
    overflow: hidden;
    p {
      text-align: right;
      margin: 0;
      color: rgb(200, 255, 0);
      animation: footermover 15s linear 0s infinite normal none;
    }
  }
}
/*Media Query for mobile screen*/
@media only screen and (max-width: 780px) {
  /* General section */
  .signin input {
    width: 80%;
  }
  .signupinput {
    display: grid;
    grid-template-columns: 100%;
  }
  .signupinput div:nth-child(1) {
    display: grid;
    grid-template-columns: 100%;
  }
  .hiddendiv {
    opacity: 0.95;
  }
  .menubar {
    align-self: center;
    font-size: x-large;
    margin-left: 0.5rem;
  }
  .leftlist {
    display: flex;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    background-color: gray;
    overflow: visible;
    padding: 1rem;
    border-right: 0.2rem solid rgb(50, 48, 48);
    border-bottom: 0.2rem solid rgb(50, 48, 48);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 0 1rem rgb(50, 48, 48) inset;
    li {
      margin: 0.5rem 1rem;
      animation: listFade 0.5s ease-in-out alternate forwards;
    }
  }
  .leftlist li:nth-child(1) {
    margin: 0;
    color: red;
    align-self: flex-end;
  }
  .leftlist li:nth-child(2) {
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    color: blue;
  }
  .queryForm {
    width: 90%;
  }
  .queryForm input {
    margin: 0;
    padding: 1rem;
  }
  .forgotpwd {
    input {
      width: calc(100% - 2rem);
    }
  }

  /* user section */
  .productDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    div {
      display: block;
      max-width: 500px;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin: 0.5rem;
      overflow: auto;
      flex-grow: 1;
      h3 {
        font-size: larger;
        font-weight: bolder;
      }
      img {
        pointer-events: none;
        max-width: 40%;
        max-height: 15rem;
      }
      section {
        display: grid;
        grid-template-columns: 48% 4% 48%;
        align-items: center;
        label {
          margin: 0;
          padding: 0.2rem;
          text-align: right;
          font-weight: 500;
        }
        p {
          margin: 0;
          padding: 0.2rem;
          text-align: left;
        }
      }
      div {
        button {
          padding: 0.5rem;
          border-radius: 0.5rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
  .orderBar {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .filter {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .searchboxdiv {
    input {
      min-width: 80%;
    }
  }
  .order {
    width: 95%;
  }
  .listallservice {
    .innerDiv {
      section {
        div {
          button {
            color: white;
          }
        }
        div:hover {
          box-shadow: 0.1rem 0.1rem 2rem blue inset;
          p {
            height: 100%;
            overflow: visible;
          }
        }
      }
      section:hover {
        width: 100%;
        height: 60vh;
      }
    }
  }

  /* Seller Section */
}
@keyframes listFade {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fadeItems {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeItemsOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(10rem);
  }
}
@keyframes fadeTableIn {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes fadeTableOut {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes footermover {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
